# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/

# Logs
logs/
*.log

# Models
models/

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.sqlite3
